@font-face {
  font-family: 'Ailerons';
  src: url("../../font/ailerons-typeface.otf");
  font-weight: 400;
  font-style: normal; }
.main.menu {
  background: #91878d;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 10vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  margin: none;
  opacity: 0.9;
  text-align: center;
  -webkit-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
  width: 100%; }
  .main.menu a {
    color: #f5e7e0;
    font-family: "ABeeZee", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8em;
    opacity: 0.8;
    text-decoration: none;
    -webkit-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear; }
  .main.menu a:hover {
    opacity: 1; }
  .main.menu.main.menu.sticky {
    height: 5vh;
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    background: #252122; }
    .main.menu.main.menu.sticky a {
      color: white; }
      .main.menu.main.menu.sticky a:hover, .main.menu.main.menu.sticky a:focus {
        outline: 0;
        color: #666666; }
    .main.menu.main.menu.sticky li {
      padding: 0.3vh 0; }
      .main.menu.main.menu.sticky li.current {
        border-color: #32858c; }
  .main.menu ul {
    padding: 0;
    margin: 5px 0; }
    .main.menu ul li {
      display: inline-block;
      padding: 2vh 0;
      margin: 0 2em; }
      .main.menu ul li.current {
        border-bottom: 2px solid #0f646d; }

.countdown {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #252122;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 1em auto;
  width: 50%;
  max-width: 900px;
  min-width: 500px; }
  .countdown .individual.block {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 2px 4px 10px 2px rgba(37, 33, 34, 0.3);
    box-shadow: 2px 4px 10px 2px rgba(37, 33, 34, 0.3);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 10em;
    padding: 1em 0 0 0;
    margin: 0 1.5%;
    width: 22%; }
  .countdown p {
    margin: auto;
    width: 100%;
    text-align: center; }
    .countdown p.number.of {
      font-size: 3.8em;
      margin: 0.35em 0 0.35em -0.02em;
      width: 100%; }
    .countdown p.string {
      padding: 1em 0;
      width: 100%;
      background: #32858c;
      color: #f5e7e0; }

*::-moz-selection,
*::-moz-selection {
  background: #adadad; }

*::selection,
*::-moz-selection {
  background: #adadad; }

html,
body {
  height: 100%; }

.page {
  width: 100%;
  min-height: 100%;
  height: 100%;
  position: relative;
  display: table; }
  .page.no.sticky {
    padding-top: 10vh;
    /* match the nav menu bar height */ }

.page.parallax {
  background: rgba(0, 0, 0, 0.3);
  /* image overlay, controlled by opacity of .parallax background */ }
  .page.parallax::after {
    content: "";
    background: url("../img/millikan-patio.jpg") no-repeat center center;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }
  .page.parallax .title.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    left: 0;
    min-height: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    vertical-align: middle;
    text-align: center;
    z-index: 2; }
    .page.parallax .title.container .hexagon {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      padding: 22em;
      font-size: 0.75em;
      /* will scale the whole box and text uniformly */ }
      .page.parallax .title.container .hexagon::after {
        content: '';
        background: url("../img/hexagon-bg.png") no-repeat center center;
        background-size: contain;
        opacity: 0.9;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1; }
  .page.parallax h1 {
    text-transform: uppercase;
    font-family: "Ailerons", sans-serif;
    font-weight: 300;
    margin: 0;
    opacity: 0.92; }
    .page.parallax h1.spells.undergraduate {
      color: #32858c;
      font-size: 3em;
      letter-spacing: 0.2em;
      margin-right: -0.15em; }
    .page.parallax h1.spells.women.in {
      color: #c68971;
      font-size: 7em;
      word-spacing: -0.25em; }
    .page.parallax h1.spells.physics {
      color: #c68971;
      font-size: 7em;
      letter-spacing: 0.08em;
      margin-right: -0.055em; }
    .page.parallax h1.spells.conference {
      color: #32858c;
      font-size: 3em;
      letter-spacing: 0.43em;
      margin-right: -0.3em; }
  .page.parallax .event.signifier.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .page.parallax .event.signifier.container h1.year {
      color: #851e46;
      font-size: 7.5em;
      letter-spacing: -0.1em;
      margin-right: 0.15em;
      /* same value as .locations.container margin-left */
      margin-top: -0.15em;
      /* offset text un-centering */ }
    .page.parallax .event.signifier.container .locations.container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      margin-left: 0.15em; }
      .page.parallax .event.signifier.container .locations.container h1.gives.location {
        color: #706c76;
        font-family: "ABeeZee", sans-serif;
        font-weight: 500;
        font-size: 1.4em;
        padding-bottom: 0.3em;
        text-align: left;
        text-transform: none; }
  .page.parallax .logos.array {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 3em 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .page.parallax .logos.array li {
      display: inline-block;
      padding-right: 3em; }
      .page.parallax .logos.array li img {
        opacity: 0.8;
        /* adjust each logo size to fit the row better */ }
        .page.parallax .logos.array li img.aps {
          height: 4em; }
        .page.parallax .logos.array li img.energy {
          height: 3em; }
        .page.parallax .logos.array li img.nsf {
          height: 3.5em; }
  .page.parallax .jump {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    z-index: 3; }
    .page.parallax .jump .arrow {
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 10%;
      margin: auto;
      width: 0;
      height: 0;
      border: 3em solid transparent;
      border-top-color: rgba(37, 33, 34, 0.8); }
      .page.parallax .jump .arrow:hover {
        cursor: pointer;
        border-top-color: rgba(37, 33, 34, 0.95); }

.page.welcome {
  width: 100%; }



/*# sourceMappingURL=main.css.map */