@font-face {
	font-family: 'Ailerons';
	src: url('../../font/Ailerons-Typeface.otf');
	font-weight: 400;
	font-style: normal;
};

@font-face {
	font-family: 'Oleo Script';
	src: url('../../font/Oleo-Script.ttf');
	font-weight: 400;
	font-style: normal;
};

$beige-lightest    : #f5e7e0;
$blue-light        : #518bfa;
$turquoise-light   : #3dbfbd;
$turquoise-medium  : #3178ab;
$turquoise         : #32858c;
$turquoise-dark    : #0f646d;
$green-grass-light : #5c9e33;
$green-grass       : #457a25;
$green-grass-dark  : #355421;
$green-lime        : #9dc628;
$gold              : #af792b;
$gold-light        : #b19a50;
$pink-salmon-light : #c68971;
$pink-salmon       : #ca776c;
$pink-berry        : #851e46;
$grey-lightest     : #f5f2f1;
$grey-light        : #c9bcba;
$grey-medium       : #91878d;
$grey-medium-dark  : #706c76;
$grey-dark         : #252122;

/* main nav menu height variables */
$non-sticky-nav : 10vh;
$sticky-nav     : 5vh;
$mobile-nav     : 10vh;

$titles-stack: 'Ailerons', sans-serif;
$main-stack: 'Open Sans', sans-serif;
$special-main-stack: 'ABeeZee', sans-serif;
$script: 'Oleo Script', serif;
