// Map of Event types, colors, and readable labels
$event-attrs: (
	food      : ($green-lime, "Food"),
	misc      : ($turquoise-light, "Misc/Special"),
	talk      : ($pink-salmon, "Talk"),
	breakout  : ($green-grass-light, "Breakout Session"),
	free      : ($pink-berry, "Free Time"),
	logistics : ($gold-light, "Logistics"),
	panel     : ($blue-light, "Panel"),
	shuttle   : ($grey-light, "Shuttle Run")
);

.page.about.agenda .inner > .text.block {
	h1 {
		margin-bottom: 0;
	}
	.event.types.legend {
		@include respond-to('xlarge') {
			width: 90%;
		}
		@include respond-to('at700') {
			width: 100%;
		}
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-bottom: 2.8em;
		div {
			padding: 4px;
		}
		span {
			border: 5px solid $turquoise-medium;
			border-radius: 50%;
			display: inline-block;
			position: relative;
			margin: 0 5px;
			// Fill in border-color for each event type
			@each $type, $attrs in $event-attrs {
				&.#{$type} {
					border-color: nth($attrs, 1);
				}
			}
		}
	}
	.campus.reference {
		color: $turquoise-medium;
		display: block;
		font-size: 1.2em;
		font-style: italic;
		font-weight: 700;
		letter-spacing: 0.1em;
		margin-bottom: 1em;
	}
	.day.table {
		display: flex;
		flex-direction: column;
		& > .event {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			margin: 0.7em 0;
			width: 100%;
			.type.bubbles {
				@include respond-to('xlarge') {
					width: 10%;
				}
				@include respond-to('at1000') {
					width: 15%;
				}
				@include respond-to('at400') {
					width: 26%;
				}
				text-align: center;
				position: relative;
				span {
					border: 7px solid $turquoise-medium;
					border-radius: 50%;
					display: inline-block;
					position: relative;
					width: 0;
					height: 0.5em;
					// Fill in border-color and tool-tip box for each event type
					@each $type, $attrs in $event-attrs {
						&.#{$type} {
							border-color: nth($attrs, 1);
							&::after {
								background-color: nth($attrs, 1);
								content: quote(nth($attrs, 2));
							}
						}
					}
					&::after,
					&:hover::after,
					&.focused::after {
						box-sizing: border-box;
						color: white;
						display: block;
						opacity: 0;
						overflow: hidden;
						position: absolute;
						width: 0;
						height: 0;
					}
					&:hover::after {
						@include respond-to('min700') {
							left: -75px;
							opacity: 1;
							padding: 14px;
							width: 150px;
							height: auto;
							z-index: 90;
						}
					}
					&.focused::after {
						left: -20px;
						opacity: 1;
						padding: 14px;
						width: 150px;
						height: auto;
						z-index: 90;
					}
				}
			}
			.info {
				@include respond-to('xlarge') {
					width: 90%;
				}
				@include respond-to('at1000') {
					width: 85%;
				}
				@include respond-to('at400') {
					width: 74%;
				}
				align-items: center;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				span {
					line-height: 1.5em;
					padding: 0.05em;
					&.name {
						@include respond-to('xlarge') {
							flex-basis: 35%;
						}
						@include respond-to('at1000') {
							flex-basis: 60%;
						}
						@include respond-to('at400') {
							flex-basis: 100%;
						}
						font-size: 1.1em;
						font-weight: 700;
						.optional {
							color: $grey-light;
							display: inline-block;
							font-size: 0.8em;
							font-weight: 400;
							padding-bottom: 0.15em;
						}
					}
					&.time {
						@include respond-to('xlarge') {
							flex-basis: 30%;
							text-align: center;
						}
						@include respond-to('at1000') {
							flex-basis: 40%;
						}
						@include respond-to('at400') {
							flex-basis: 100%;
							text-align: left;
						}
					}
					&.place {
						@include respond-to('xlarge') {
							flex-basis: 35%;
						}
						@include respond-to('at1000') {
							flex-basis: 100%;
						}
					}
				}
			}
			.about {
				@include respond-to('xlarge') {
					margin: 2em 2% 2em 0;
					width: 100%;
				}
				@include respond-to('at1000') {
					align-items: center;
					margin: 1em 7%;
					width: 86%;
				}
				@include respond-to('at500') {
					margin: 0.2em 7% 0.5em 7%;
				}
				display: flex;
				flex-wrap: wrap;
				margin-left: 10%;
				width: 90%;
				.desc {
					@include respond-to('xlarge') {
						order: 2;
						width: 77%;
					}
					@include respond-to('at1000') {
						order: 1;
						padding-right: 5%;
					}
					@include respond-to('at500') {
						padding-right: 0;
						width: 100%;
					}
					h2 {
						color: map-get($event-attrs, talk);
						font-size: 1em;
						margin: 1.5em 0 1em 0;
						em {
							@include respond-to('at500') {
								display: block;
							}
							color: $grey-medium;
							font-weight: normal;
							text-transform: none;
						}
					}
					p {
						@include respond-to('at1000') {
							margin: 1em 0;
						}
						@include respond-to('at500') {
							margin: 1em 0 0 0;
						}
					}
				}
				.lil-img {
					@include respond-to('xlarge') {
						display: none;
					}
					@include respond-to('at500') {
						display: block;
						float: left;
						margin-right: 1.5em;
						shape-outside: circle(50%);
						width: 30%;
					}
					img {
						border-radius: 50%;
					}
				}
				.big-img {
					@include respond-to('xlarge') {
						order: 1;
						width: 23%;
					}
					@include respond-to('at1000') {
						order: 2;
					}
					@include respond-to('at500') {
						display: none;
					}
					align-items: center;
					display: flex;
					justify-content: center;
					img {
						border-radius: 50%;
						max-height: 110px;
						max-width: 110px;
					}
				}
			}
		}
	}
}
