// Map of Event types, colors, and readable labels
$event-attrs: (
	food      : ($green-lime, 'Food'),
	misc      : ($turquoise-light, 'Misc/Special'),
	talk      : ($pink-salmon, 'Talk'),
	breakout  : ($green-grass-light, 'Breakout Session'),
	free      : ($pink-berry, 'Free Time'),
	logistics : ($gold-light, 'Logistics'),
	panel     : ($blue-light, 'Panel'),
	shuttle   : ($grey-light, 'Shuttle Run')
);

.page.agenda.preface .inner > .text.block {
	text-align: left;
	.event.types.legend {
		@include respond-to('xlarge') {
			width: 90%;
		}
		@include respond-to('at700') {
			width: 100%;
		}
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-bottom: 2.8em;
		div {
			padding: 4px;
		}
		span {
			// Fill in border-color for each event type
			@each $type, $attrs in $event-attrs {
				&.#{$type} {
					border-color: nth($attrs, 1);
				}
			}
			border: 5px solid $turquoise-medium;
			border-radius: 50%;
			display: inline-block;
			position: relative;
			margin: 0 5px;
		}
	}
}

.page.about.agenda .inner > .text.block {
	&.agenda.spread {
		padding-bottom: 2em;
	}
	h1 {
		margin-bottom: 0;
	}
	.campus.reference {
		color: $turquoise-medium;
		display: block;
		font-size: 1.2em;
		font-style: italic;
		font-weight: 700;
		letter-spacing: 0.1em;
		margin-bottom: 1em;
	}
	.separator {
		content: '';
		width: 30%;
		margin-bottom: 3em;
		border-bottom: 0.3em solid $grey-light;
	}
	.leader.legend {
		margin-top: 0;
	}
	.leader-label {
		bottom: 1px;
		color: $pink-salmon;
		font-size: 0.8em;
		padding-right: 0.2em;
		position: relative;
	}
	.name .leader-label {
		margin-left: -1.4em;
	}
	.expandable.arrow {
		@include respond-to('xlarge') {
			color: rgba($grey-light, 0.6);
			text-align: center;
			width: 10%;
		}
		@include respond-to('at600') {
			width: 10%;
		}
		@include respond-to('at500') {
			color: rgba($grey-light, 0.5);
			font-size: 1.5em;
			width: 20%;
		}
		@include respond-to('at330') {
			width: 12%;
		}
		order: 3;
		padding: 2px 0 0;
		position: relative;
		transition: all linear 0.4s;
	}
	.day.table {
		@include respond-to('xlarge') {
			margin-bottom: 2.5em;
		}
		display: flex;
		flex-direction: column;
		> .event {
			box-shadow: 1px 1px 4px rgba($grey-medium, 0.1);
			margin: 0.3em 0;
			transition: all linear 0.2s;
			&.expandable:hover {
				background: #fff;
				box-shadow: 1px 1px 4px rgba($grey-medium, 0.3);
				.card-head {
					cursor: pointer;
				}
			}
			&.expandable.expanded {
				background: #fff;
				.about {
					opacity: 1;
				}
				.card-head .expandable.arrow {
					color: $turquoise;
					padding: 0 0 0 3px;
					transform: rotate(90deg);
				}
			}
			.card-head {
				@include respond-to('xlarge') {
					padding: 1.5em 0;
				}
				@include respond-to('at1000') {
					padding: 1em 0;
				}
				align-items: center;
				background: rgba(#fff, 0.6);
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				.type.bubbles {
					@include respond-to('xlarge') {
						width: 10%;
					}
					@include respond-to('at600') {
						width: 14%;
					}
					@include respond-to('at500') {
						width: 20%;
					}
					text-align: center;
					position: relative;
					span {
						// Fill in border-color and tool-tip box for each event type
						@each $type, $attrs in $event-attrs {
							&.#{$type} {
								border-color: nth($attrs, 1);
								&::after {
									background-color: nth($attrs, 1);
									content: quote(nth($attrs, 2));
								}
							}
						}
						border: 7px solid $turquoise-medium;
						border-radius: 50%;
						display: inline-block;
						position: relative;
						width: 0;
						height: 0.5em;
						&::after,
						&:hover::after,
						&.focused::after {
							box-sizing: border-box;
							color: #fff;
							display: block;
							opacity: 0;
							overflow: hidden;
							position: absolute;
							width: 0;
							height: 0;
						}
						&:hover::after {
							@include respond-to('min700') {
								left: -75px;
								opacity: 1;
								padding: 14px;
								width: 150px;
								height: auto;
								z-index: 90;
							}
						}
						&.focused::after {
							left: -20px;
							opacity: 1;
							padding: 14px;
							width: 150px;
							height: auto;
							z-index: 90;
						}
					}
				}
				.info {
					@include respond-to('xlarge') {
						grid-template-areas: 'name time place';
						grid-template-columns: 1fr 0.9fr 1fr;
						width: 80%;
					}
					@include respond-to('at1000') {
						grid-template-areas:
							'name time'
							'place time';
						grid-template-columns: 2fr 1fr;
					}
					@include respond-to('at600') {
						grid-template-columns: 1fr 0.9fr;
						width: 76%;
					}
					@include respond-to('at500') {
						grid-template-columns: 1fr;
						grid-template-areas:
							'name'
							'time'
							'place';
						width: 60%;
					}
					@include respond-to('at330') {
						width: 68%;
					}
					align-items: center;
					display: grid;
					justify-content: space-between;
					span {
						line-height: 1.25em;
						padding: 0.05em;
						&.name {
							font-size: 1.1em;
							font-weight: 700;
							grid-area: name;
							.optional {
								color: $grey-light;
								display: inline-block;
								font-size: 0.8em;
								font-weight: 400;
								padding-bottom: 0.15em;
							}
							span {
								@include respond-to('xlarge') {
									display: block;
								}
								@include respond-to('at1000') {
									display: inline;
								}
								@include respond-to('at500') {
									display: block;
								}
							}
						}
						&.time {
							@include respond-to('xlarge') {
								text-align: center;
							}
							@include respond-to('at1000') {
								text-align: right;
							}
							@include respond-to('at600') {
								margin-left: 5px;
							}
							@include respond-to('at500') {
								margin-left: 0;
								text-align: left;
							}
							grid-area: time;
						}
						&.place {
							grid-area: place;
						}
					}
				}
			}
			.about {
				@include respond-to('xlarge') {
					margin: 0 10%;
					padding: 1.5em 0;
					width: 80%;
				}
				@include respond-to('at1000') {
					align-items: center;
					margin: 0 7.5% 0 2%;
					padding: 0.5em 0 0 7%;
					width: 90.5%;
				}
				@include respond-to('at500') {
					margin-right: 0;
					padding: 0 5% 0 7%;
					width: 97%;
				}
				display: none;
				opacity: 0;
				order: 4;
				transition: opacity linear 1.5s;
				.panelist.table {
					display: flex;
					flex-wrap: wrap;
					margin-bottom: 2em;
					.panelist.info {
						display: grid;
						grid-template-columns: 1fr 1.5fr;
						align-items: center;
						padding: 0.4em 1em 0.4em 1.6em;
						width: 100%;
						transition: background linear 0.3s;
						&:nth-of-type(2n) {
							background-color: darken($grey-lightest, 1%);
						}
						span {
							@include respond-to('xlarge') {
								font-size: 1.1em;
							}
							@include respond-to('at500') {
								font-size: 1em;
							}
							&:first-child {
								margin-right: 10px;
							}
						}
					}
				}
				&.talk .inside.grid {
					@include respond-to('xlarge') {
						grid-template-areas:
							'img         desc'
							'img-header  desc'
							'img-caption desc'
							'.           desc';
						grid-template-columns: minmax(170px, 1fr) 1.9fr;
						grid-template-rows: repeat(3, min-content);
					}
					@include respond-to('at1000') {
						grid-template-areas:
							'img  img-header'
							'img  img-caption'
							'desc desc';
						grid-template-columns: minmax(120px, 1fr) 3fr;
					}
					@include respond-to('at500') {
						grid-template-areas:
							'img'
							'img-header'
							'img-caption'
							'desc';
						grid-template-columns: 100%;
					}
					display: grid;
					grid-gap: 5%;
					.desc {
						grid-area: desc;
					}
					.img {
						grid-area: img;
					}
					.img-header {
						grid-area: img-header;
					}
					.img-caption {
						grid-area: img-caption;
					}
				}
				&.talk {
					.desc {
						@include respond-to('at500') {
							margin-top: 1.2em;
						}
						p {
							@include respond-to('at500') {
								margin: 1.5em 0;
							}
						}
					}
					.img-header {
						@include respond-to('xlarge') {
							align-items: center;
							flex-direction: column;
							font-size: 0.95em;
							justify-content: center;
							margin: 1.4em 0 1em;
							text-align: center;
						}
						@include respond-to('at1000') {
							align-items: flex-end;
							flex-direction: row;
							justify-content: flex-end;
							text-align: right;
						}
						@include respond-to('at500') {
							align-items: flex-end;
							flex-direction: row;
							font-size: 0.9em;
							justify-content: center;
							text-align: center;
						}
						display: flex;
						h2 {
							color: map-get($event-attrs, talk);
							margin: 0;
						}
						span {
							@include respond-to('xlarge') {
								margin: 0.15em 0.25em;
								text-align: center;
							}
							@include respond-to('at1000') {
								text-align: right;
							}
							@include respond-to('at500') {
								text-align: center;
							}
							display: inline-block;
						}
					}
					.img-caption {
						@include respond-to('xlarge') {
							justify-content: center;
							font-size: 1.1em;
						}
						@include respond-to('at1000') {
							justify-content: flex-end;
						}
						@include respond-to('at500') {
							justify-content: center;
							font-size: 1em;
						}
						display: flex;
						font-style: italic;
						letter-spacing: 0.12em;
					}
					.img {
						@include respond-to('xlarge') {
							justify-content: center;
						}
						@include respond-to('at1000') {
							justify-content: flex-start;
							margin: 1.2em 0;
						}
						@include respond-to('at500') {
							justify-content: center;
							margin: 0;
						}
						display: flex;
						img {
							@include respond-to('xlarge') {
								margin: 1em 0 0;
								max-height: 170px;
								max-width: 170px;
							}
							@include respond-to('at1000') {
								max-height: 120px;
								max-width: 120px;
							}
							@include respond-to('at500') {
								margin-top: 1.6em;
							}
							border-radius: 50%;
							width: 100%;
						}
					}
				}
				&.breakout:not(.misc) {
					padding-top: 0;
					ul {
						margin: 0;
						padding: 0 0 1.5em;
						width: 100%;
					}
					.list.break {
						border-top: 1px solid lighten($grey-light, 10%);
						display: block;
						margin: 5px 0;
						width: 100%;
						&:last-of-type {
							display: none;
						}
					}
					li {
						@include respond-to('xlarge') {
							padding: 0.8em 0.5em 0.8em 1.4em;
						}
						@include respond-to('at1000') {
							padding: 0.6em 0.5em 0.6em 1em;
						}
						@include respond-to('at500') {
							margin: 0 0 0 -1em;
						}
						align-items: center;
						display: flex;
						flex-wrap: wrap;
						list-style: none;
						margin: 0;
						transition: all linear 0.3s;
						&:hover,
						&:focus {
							.panelist.list.container .panelist.table .panelist.info:nth-of-type(2n) {
								background-color: lighten($grey-light, 13%);
							}
						}
						&.expandable:hover {
							cursor: pointer;
							background: $grey-lightest;
							.expandable.arrow {
								color: $turquoise-light;
							}
						}
						&.expanded {
							.panelist.list.container {
								opacity: 1;
							}
							.expandable.arrow {
								color: $turquoise;
								padding: 0 0 0 3px;
								transform: rotate(90deg);
							}
						}
						.expandable.arrow {
							margin-top: -2px;
							width: 5%;
						}
						h4 {
							@include respond-to('at1000') {
								margin-bottom: 0.3em;
							}
							font-size: 1.3em;
							line-height: 1.3em;
							color: $grey-medium;
							margin: 0 0 0.6em;
						}
						.text {
							width: 95%;
						}
						.special.label {
							color: $grey-light;
							font-size: 0.85em;
							margin: 0.25em 0;
							min-width: 110px;
							letter-spacing: 1px;
							text-transform: uppercase;
							&.once {
								color: $pink-salmon-light;
							}
						}
						.properties {
							@include respond-to('xlarge') {
								grid-template-columns: 1.3fr 0.8fr 1fr;
							}
							@include respond-to('at1200') {
								grid-template-columns: 1.4fr 0.7fr 0.9fr;
							}
							@include respond-to('at1000') {
								grid-template-columns: 100%;
							}
							align-items: center;
							display: grid;
							width: 100%;
							.special.label {
								@include respond-to('at1000') {
									grid-row: 1 / 2;
								}
							}
							.room.label {
								@include respond-to('at1000') {
									margin: 0.3em 0;
									font-size: 1.1em;
									font-weight: 600;
								}
							}
							.occurrences {
								@include respond-to('at1000') {
									margin-top: 1em;
								}
								@include respond-to('at500') {
									margin-right: 0;
								}
								display: flex;
								margin-right: 10px;
								align-items: center;
								justify-content: flex-start;
								.label {
									@include respond-to('at1000') {
										font-size: 1.1em;
									}
									@include respond-to('at400') {
										font-size: 1em;
									}
									margin-right: 6px;
								}
								span.indicator {
									@include respond-to('at500') {
										font-size: 1.1em;
										height: 20px;
										margin-right: 4px;
										width: 20px;
									}
									align-items: center;
									background-color: lighten($grey-light, 10%);
									border: lighten($grey-light, 10%);
									border-radius: 50%;
									color: #fff;
									display: flex;
									font-size: 12px;
									font-weight: 800;
									justify-content: center;
									height: 15px;
									margin: 0 0 0 4px;
									width: 15px;
									&.true {
										background-color: saturate($green-grass-light, 20);
									}
								}
							}
						}
						.panelist.list.container {
							@include respond-to('xlarge') {
								margin: 1em;
							}
							@include respond-to('at500') {
								margin: 1em 0;
							}
							display: none;
							margin: 1em;
							opacity: 0;
							order: 4;
							transition: opacity linear 1.5s;
							width: 100%;
							p {
								margin-top: 1em;
							}
							.panelist.table {
								margin-bottom: 0;
							}
						}
					}
				}
				&.misc {
					li {
						min-height: 1.8em;
					}
				}
			}
		}
	}
}
