.countdown {
	@include respond-to('xlarge') {
		width: 100%;
		max-width: 600px;
		min-width: 450px;
	}
	@include respond-to('at1000') {
		padding-right: 1.5%;
		max-width: 500px;
		min-width: 200px;
	}
	align-items: center;
	color: $grey-dark;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding-bottom: 1em;

	.individual.block {
		@include respond-to('xlarge') {
			margin: 0 2%;
		}
		@include respond-to('at1000') {
			height: 9em;
		}
		@include respond-to('at700') {
			margin: 0 1%;
		}
		@include respond-to('at400') {
			height: 7em;
		}
		align-items: center;
		background: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 11em;
		padding: 1.5em 0;
		margin: 0 2%;
		width: 22%;
	}
	p {
		margin: auto;
		width: 100%;
		text-align: center;
		&.number.of {
			@include respond-to('xlarge') {
				font-size: 3.8em;
			}
			@include respond-to('at1000') {
				font-size: 3em;
			}
			@include respond-to('at400') {
				font-size: 2.4em;
			}
			font-size: 3.8em;
			margin: 0.35em 0 0.35em -0.02em;
			width: 100%;
		}
		&.string {
			@include respond-to('xlarge') {
				padding: 1em 0;
			}
			@include respond-to('at400') {
				padding: 0.5em 0;
			}
			margin-top: -0.2em;
			width: 100%;
			background: $turquoise-light;
			color: white;
		}
	}
}
