.page.footer {
	background: lighten($grey-dark, 10%);
	color: $grey-medium;
	font-size: 0.7em;
	padding: 3em 15%;
	text-align: center;
	a {
		color: $gold;
	}
	a:hover,
	a:active {
		color: $gold-light;
	}
}
