@import 'variables';

@charset 'UTF-8';

@import 'nav';
@import 'countdown';

* {
	box-sizing: border-box;
}

*::selection,
*::-moz-selection {
	background: #adadad;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.page {
	min-height: 100vh;
	width: 100vw;
	position: relative;
	display: block;
	&.no.sticky {
		padding-top: 10vh; /* match the nav menu bar height */
	}
}

.page.parallax {
	.parallax.background {
		background: url("../img/millikan-patio.jpg") no-repeat center center;
		display:block;
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		z-index: -1;
	}
	/* image overlay, controlled by opacity of .parallax background */
	&::before {
		content: '';
		background: rgba(0, 0, 0, 0.3);
		display: block;
		opacity: 1;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: 1;
	}
	.title.container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		left: 0;
		min-height: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		vertical-align: middle;
		text-align: center;
		z-index: 2;
		.hexagon {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			padding: 22em;
			font-size: 0.75em; /* will scale the whole box and text uniformly */
			&::after {
				content: '';
				background: url('../img/hexagon-bg.png') no-repeat center center;
				background-size: contain;
				opacity: 0.9;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				position: absolute;
				z-index: -1;
			}
		}
	}
	h1 {
		text-transform: uppercase;
		font-family: $titles-stack;
		font-weight: 300;
		margin: 0;
		opacity: 0.92;
		&.spells.undergraduate {
			color: $turquoise;
			font-size: 3em;
			letter-spacing: 0.2em;
			margin-right: -0.15em;
		}
		&.spells.women.in {
			color: $pink-salmon;
			font-size: 7em;
			word-spacing: -0.25em;
		}
		&.spells.physics {
			color: $pink-salmon;
			font-size: 7em;
			letter-spacing: 0.08em;
			margin-right: -0.055em;
		}
		&.spells.conference {
			color: $turquoise;
			font-size: 3em;
			letter-spacing: 0.43em;
			margin-right: -0.3em;
		}
	}
	.event.signifier.container {
		display: flex;
		justify-content: center;
		align-items: center;
		h1.year {
			color: $pink-berry;
			font-size: 7.5em;
			letter-spacing: -0.1em;
			margin-right: 0.15em; /* same value as .locations.container margin-left */
			margin-top: -0.15em; /* offset text un-centering */
		}
		.locations.container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			margin-left: 0.15em;
			h1.gives.location {
				color: $grey-medium-dark;
				font-family: $special-main-stack;
				font-weight: 500;
				font-size: 1.4em;
				padding-bottom: 0.3em;
				text-align: left;
				text-transform: none;
			}
		}
	}
	.logos.array {
		display: flex;
		justify-content: center;
		margin: 3em 0;
		align-items: center;
		li {
			display: inline-block;
			padding-right: 3em;
			img {
				opacity: 0.8;
				/* adjust each logo size to fit the row better */
				&.aps {
					height: 4em;
				}
				&.energy {
					height: 3em;
				}
				&.nsf {
					height: 3.5em;
				}
			}
		}
	}
}

.page.welcome,
.page.about {
	width: 100%;
	background: white;
	padding: 2em 0;
}
