.mini-agenda {
	&.agenda.spread {
		padding-bottom: 2em;
	}
	h1 {
		margin-bottom: 0;
	}
	.campus.reference {
		color: $turquoise-medium;
		display: block;
		font-size: 1.2em;
		font-style: italic;
		font-weight: 700;
		letter-spacing: 0.1em;
		margin-bottom: 1em;
	}
	.separator {
		content: '';
		width: 30%;
		margin-bottom: 3em;
		border-bottom: 0.3em solid $grey-light;
	}
	.day.table {
		@include respond-to('xlarge') {
			margin-bottom: 2.5em;
		}
		display: flex;
		flex-direction: column;
		> .event:nth-child(2n) {
			background-color: rgba(#000, 0.05);
		}
		> .event {
			@include respond-to('xlarge') {
				padding: 1.5em 0;
			}
			@include respond-to('at1000') {
				padding: 1em 0;
			}
			align-items: center;
			background: #fff;
			display: flex;
			flex-wrap: wrap;
			margin: 0.3em 0;
			transition: all linear 0.2s;
			width: 100%;
			.type.bubbles {
				@include respond-to('xlarge') {
					width: 10%;
				}
				@include respond-to('at600') {
					width: 14%;
				}
				@include respond-to('at500') {
					width: 20%;
				}
				text-align: center;
				position: relative;
				span {
					// Fill in border-color and tool-tip box for each event type
					@each $type, $attrs in $event-attrs {
						&.#{$type} {
							border-color: nth($attrs, 1);
							&::after {
								background-color: nth($attrs, 1);
								content: quote(nth($attrs, 2));
							}
						}
					}
					border: 7px solid $turquoise-medium;
					border-radius: 50%;
					display: inline-block;
					position: relative;
					width: 0;
					height: 0.5em;
					&::after,
					&:hover::after,
					&.focused::after {
						box-sizing: border-box;
						color: #fff;
						display: block;
						opacity: 0;
						overflow: hidden;
						position: absolute;
						width: 0;
						height: 0;
					}
					&:hover::after {
						@include respond-to('min700') {
							left: -75px;
							opacity: 1;
							padding: 14px;
							width: 150px;
							height: auto;
							z-index: 90;
						}
					}
					&.focused::after {
						left: -20px;
						opacity: 1;
						padding: 14px;
						width: 150px;
						height: auto;
						z-index: 90;
					}
				}
			}
			.expandable.arrow {
				@include respond-to('xlarge') {
					color: rgba($grey-light, 0.6);
					text-align: center;
					width: 10%;
				}
				@include respond-to('at600') {
					width: 10%;
				}
				@include respond-to('at500') {
					color: rgba($grey-light, 0.5);
					font-size: 1.5em;
					width: 20%;
				}
				@include respond-to('at330') {
					width: 12%;
				}
				order: 3;
				padding: 2px 0 0;
				position: relative;
				transition: all linear 0.4s;
			}
			.info {
				@include respond-to('xlarge') {
					grid-template-areas: 'name time place';
					grid-template-columns: 1fr 0.9fr 1fr;
					width: 80%;
				}
				@include respond-to('at1000') {
					grid-template-areas:
						'name time'
						'place time';
					grid-template-columns: 2fr 1fr;
				}
				@include respond-to('at600') {
					grid-template-columns: 1fr 0.9fr;
					width: 76%;
				}
				@include respond-to('at500') {
					grid-template-columns: 1fr;
					grid-template-areas:
						'name'
						'time'
						'place';
					width: 60%;
				}
				@include respond-to('at330') {
					width: 68%;
				}
				align-items: center;
				display: grid;
				justify-content: space-between;
				span {
					line-height: 1.25em;
					padding: 0.05em;
					&.name {
						font-size: 1.1em;
						font-weight: 700;
						grid-area: name;
						.optional {
							color: $grey-light;
							display: inline-block;
							font-size: 0.8em;
							font-weight: 400;
							padding-bottom: 0.15em;
						}
						span {
							@include respond-to('xlarge') {
								display: block;
							}
							@include respond-to('at1000') {
								display: inline;
							}
							@include respond-to('at500') {
								display: block;
							}
						}
					}
					&.time {
						@include respond-to('xlarge') {
							text-align: center;
						}
						@include respond-to('at1000') {
							text-align: right;
						}
						@include respond-to('at600') {
							margin-left: 5px;
						}
						@include respond-to('at500') {
							margin-left: 0;
							text-align: left;
						}
						grid-area: time;
					}
					&.place {
						grid-area: place;
					}
				}
			}
			.about {
				@include respond-to('xlarge') {
					margin: 0 10%;
					padding: 1.5em 0 0;
					width: 100%;
				}
				@include respond-to('at1000') {
					align-items: center;
					margin: 0 7.5% 0 2%;
					padding: 0.5em 0 0 7%;
					width: 90.5%;
				}
				@include respond-to('at500') {
					margin-right: 0;
					padding: 0 5% 0 7%;
					width: 97%;
				}
				display: none;
				opacity: 0;
				order: 4;
				transition: opacity linear 1.5s;
				&.talk .inside.grid {
					@include respond-to('xlarge') {
						grid-template-areas:
							'img         desc'
							'img-header  desc'
							'img-caption desc'
							'.           desc';
						grid-template-columns: minmax(170px, 1fr) 1.9fr;
						grid-template-rows: repeat(3, min-content);
					}
					@include respond-to('at1000') {
						grid-template-areas:
							'img  img-header'
							'img  img-caption'
							'desc desc';
						grid-template-columns: minmax(120px, 1fr) 3fr;
					}
					@include respond-to('at500') {
						grid-template-areas:
							'img'
							'img-header'
							'img-caption'
							'desc';
						grid-template-columns: 100%;
					}
					display: grid;
					grid-gap: 5%;
					.desc {
						grid-area: desc;
					}
					.img {
						grid-area: img;
					}
					.img-header {
						grid-area: img-header;
					}
					.img-caption {
						grid-area: img-caption;
					}
				}
				&.talk {
					.desc {
						@include respond-to('at500') {
							margin-top: 1.2em;
						}
						p {
							@include respond-to('at500') {
								margin: 1.5em 0;
							}
						}
					}
					.img-header {
						@include respond-to('xlarge') {
							align-items: center;
							flex-direction: column;
							font-size: 0.95em;
							justify-content: center;
							margin: 1.4em 0 1em;
							text-align: center;
						}
						@include respond-to('at1000') {
							align-items: flex-end;
							flex-direction: row;
							justify-content: flex-end;
							text-align: right;
						}
						@include respond-to('at500') {
							align-items: flex-end;
							flex-direction: row;
							font-size: 0.9em;
							justify-content: center;
							text-align: center;
						}
						display: flex;
						h2 {
							color: map-get($event-attrs, talk);
							margin: 0;
						}
						span {
							@include respond-to('xlarge') {
								margin: 0.15em 0.25em;
								text-align: center;
							}
							@include respond-to('at1000') {
								text-align: right;
							}
							@include respond-to('at500') {
								text-align: center;
							}
							display: inline-block;
						}
					}
					.img-caption {
						@include respond-to('xlarge') {
							justify-content: center;
							font-size: 1.1em;
						}
						@include respond-to('at1000') {
							justify-content: flex-end;
						}
						@include respond-to('at500') {
							justify-content: center;
							font-size: 1em;
						}
						display: flex;
						font-style: italic;
						letter-spacing: 0.12em;
					}
					.img {
						@include respond-to('xlarge') {
							justify-content: center;
						}
						@include respond-to('at1000') {
							justify-content: flex-start;
							margin: 1.2em 0;
						}
						@include respond-to('at500') {
							justify-content: center;
							margin: 0;
						}
						display: flex;
						img {
							@include respond-to('xlarge') {
								margin: 1em 0 0;
								max-height: 170px;
								max-width: 170px;
							}
							@include respond-to('at1000') {
								max-height: 120px;
								max-width: 120px;
							}
							@include respond-to('at500') {
								margin-top: 1.6em;
							}
							border-radius: 50%;
							width: 100%;
						}
					}
				}
				&.breakout:not(.misc) {
					ul {
						@include respond-to('xlarge') {
							padding-left: 3%;
						}
						@include respond-to('at1000') {
							padding-top: 1em;
						}
						@include respond-to('at500') {
							padding-left: 0;
						}
						align-items: flex-start;
						display: grid;
						grid-template-columns: 100%;
						grid-gap: 0 5%;
						margin: 0;
						padding-bottom: 1.5em;
						width: 100%;
					}
					li {
						@include respond-to('xlarge') {
							min-height: 2.5em;
						}
						@include respond-to('at500') {
							min-height: 2.8em;
						}
						align-items: center;
						display: flex;
						list-style: none;
						margin: 0;
						padding: 0.3em 0;
						span {
							font-size: 1em;
							font-weight: 400;
							margin: 0.25em 0;
							&.session {
								@include respond-to('xlarge') {
									padding-right: 15px;
									width: 66%;
								}
								@include respond-to('at700') {
									padding-right: 0;
									width: 100%;
								}
								line-height: 1.25em;
							}
							&.label {
								@include respond-to('xlarge') {
									text-align: right;
									width: 33%;
								}
								@include respond-to('at700') {
									text-align: left;
									width: 100%;
								}
								color: $grey-light;
								font-size: 0.8em;
								margin: 0.25em 0;
								min-width: 110px;
								text-transform: uppercase;
								&.once {
									color: $pink-salmon-light;
								}
							}
						}
					}
					.details {
						@include respond-to('at1000') {
							align-items: center;
							display: flex;
							justify-content: space-between;
							flex-wrap: wrap;
							width: 100%;
						}
					}
					.occurrences {
						display: flex;
						padding-right: 5px;
						span.indicator {
							@include respond-to('at500') {
								font-size: 1em;
								height: 1.7em;
								margin-right: 4px;
								width: 1.7em;
							}
							align-items: center;
							background-color: $grey-lightest;
							border: 3px solid $grey-lightest;
							border-radius: 50%;
							display: flex;
							font-size: 1.2em;
							font-weight: 800;
							justify-content: center;
							height: 2em;
							margin-right: 6px;
							width: 2em;
							&.false {
								background-color: rgba(#fff, 0.2);
								color: darken($grey-lightest, 10%);
							}
							&.true {
								color: saturate($green-grass-light, 20);
							}
						}
					}
					.desc {
						@include respond-to('xlarge') {
							order: 2;
							margin-right: 10%;
							padding-left: 3%;
							width: 65%;
						}
						@include respond-to('at1000') {
							order: 1;
							padding-left: 0;
							padding-right: 5%;
						}
						@include respond-to('at600') {
							padding-right: 0;
							width: 100%;
						}
						h2 {
							color: map-get($event-attrs, talk);
							font-size: 1em;
							margin: 1.5em 0 1em;
							em {
								@include respond-to('at600') {
									display: block;
								}
								color: $grey-medium;
								font-weight: normal;
								text-transform: none;
							}
						}
						p {
							@include respond-to('at1000') {
								margin: 1em 0;
							}
							@include respond-to('at600') {
								margin: 1em 0 0;
							}
						}
					}
				}
				&.misc {
					li {
						min-height: 1.8em;
					}
				}
			}
		}
	}
}
