.main.menu {
	@include respond-to('at700') {
		/* NEED TO ADJUST MENU AT THIS SIZE */
	}
	background: $grey-medium-dark;
	display: flex;
	align-items: center;
	height: 10vh;
	justify-content: center;
	list-style: none;
	margin: 0;
	opacity: 0.85;
	text-align: center;
	transition: background 0.5s linear;
	width: 100%;
	a {
		color: $beige-lightest;
		font-family: $special-main-stack;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 0.8em;
		opacity: 0.8;
		text-decoration: none;
		transition: opacity 0.1s linear;
	}
	a:hover {
		opacity: 1;
	}
	&.main.menu.sticky {
		height: 5vh;
		top: 0;
		z-index: 100;
		position: fixed;
		width: 100%;
		background: $grey-dark;
		a {
			color: white;
			&:hover,
			&:focus {
				outline: 0;
				color: lighten(black, 40%);
			}
		}
		li {
			padding: 1.5vh 2.4em;
			&.current .border {
				bottom: 0.75vh;
				border-bottom: 3px solid $turquoise;
			}
		}
	}
	ul {
		height: 100%;
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			height: 100%;
			padding: 4vh 2.4em;
			position: relative;
			margin: 0 0 0 -0.35em;
			transition: background 0.2s;
			&.current {
				position: relative;
				.border {
					width: 50%;
					height: 10px;
					position: absolute;
					bottom: 1.5vh;
					right: 25%;
					border-bottom: 8px solid $turquoise-dark;
				}
			}
			&:hover {
				background-color: rgba($beige-lightest, 0.1);
			}
		}
	}
}
